Source: workshop-prueba3
Maintainer: Plan Ceibal <apt@plan.ceibal.edu.uy>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: workshop-prueba3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Paquete de Ejemplo - CAMBIAR 
 workshop-prueba3 realiza una tarea - CAMBIAR.
